{% extends "base.html" %}

{% block body %}
<div class="container form-wrapper border rounded col-lg-5 mx-auto m-5 py-3">
    <form method="POST">
        {% csrf_token %}
        <h3 class="mx-2 my-3 text text-primary">Sign up!</h3>
        <div class="form-group m-2">
            <label class="my-1" for="firstname">First Name</label>
            <input name="first_name" type="text" class="form-control my-2" placeholder="First Name">
        </div>
        <div class="form-group m-2">
            <label class="my-1" for="lastname">Last Name</label>
            <input name="last_name" type="text" class="form-control my-2" placeholder="Last Name">
        </div>
        <div class="form-group m-2">
            <label class="my-1" for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control my-2" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group m-2">
            <label class="my-1" for="password">Password</label>
            <input name="password" type="password" class="form-control my-2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary m-2">Sign Up</button>
    </form>
</div>
{% endblock body %}