{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">

        {% for product in products %}
        <div class="col-lg-4">
            {% if product.imageURL %}
                <img src="{{ product.image.url }}" alt="" class="thumbnail">
            {% else %}
                <img src="" alt="" class="thumbnail">
            {% endif %}
            <div class="box-element product">
                <h4><strong>{{ product.name }}</strong></h4>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block; float: right;">$ {{ product.price | floatformat:2 }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}