{% extends "base.html" %}

{% block body %}
<div class="conatiner">
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body row">
            <h5 class="card-title">Card title</h5>
            <p>{{ product.price }}</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link btn btn-primary">Add to Cart</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}